/*----------- Reset css start here ------------------*/
::-moz-placeholder {
  opacity: 1; }

a {
  text-decoration: none;
  outline: none;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out; }

a:hover, a:focus {
  text-decoration: none;
  outline: none; }

a.selected {
  cursor: default; }

a:hover.selected {
  text-decoration: none; }

img {
  border: none; }

p, h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  margin: 0;
  padding: 0; }

h3 a, h4 a, h5 a, h6 a {
  text-decoration: underline; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  border: none; }

.clearfix:after, .clearfix:before {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0; }

.clear {
  font-size: 1%;
  height: 0;
  width: 0;
  float: none;
  clear: both; }

input {
  outline: none; }

input:focus, select:focus {
  outline-color: transparent;
  outline: none; }

input[type=submit], input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }

input::-ms-clear {
  display: none; }

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  box-sizing: border-box;
  width: 100%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  overflow-x: hidden;
  height: 100%;
  font-size: inherit;
  line-height: normal;
  width: 100%;
  margin: 0 auto !important; }

* {
  -webkit-tap-highlight-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  list-style: none; }

@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratmedium';
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratsemibold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.row {
  margin-left: -15px;
  margin-right: -15px; }

.animate-1, .get-start-click, .get-start-click-header, .download-app, .send {
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out; }

.wrapper {
  width: 100%;
  margin: 0px auto;
  overflow-x: hidden; }

.fluid-container {
  width: 100%;
  margin: 0px auto; }

.custom-container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.section-space {
  margin: 80px 0; }

.h1 {
  font-size: 48px;
  font-family: "montserratmedium";
  display: block;
  line-height: 50px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0; }

.h2 {
  font-size: 36px;
  font-family: "montserratregular";
  display: block;
  line-height: 42px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0; }

.h3 {
  font-size: 18px;
  font-family: "montserratregular";
  display: block;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0; }

.p {
  font-size: 15px;
  font-family: "montserratlight";
  line-height: 26px; }

.get-start-click {
  background-color: #f6921e;
  font-family: "montserratregular";
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin: 30px 0; }
  .get-start-click a {
    color: #ffffff;
    padding: 12px 15px;
    display: inline-block;
    border-radius: 5px; }
    .get-start-click a:hover {
      background-color: #d7332f;
      color: #ffffff;
      padding: 12px 15px; }

.get-start-click-header {
  background-color: #ffffff;
  font-family: "montserratregular";
  font-size: 17px;
  color: #f6921e;
  text-align: center;
  border-radius: 5px;
  display: inline-block; }
  .get-start-click-header a {
    color: #f6921e;
    display: inline-block;
    border-radius: 5px;
    padding: 14px; }
    .get-start-click-header a:hover {
      background-color: #d7332f;
      color: #ffffff;
      padding: 14px; }

.download-app {
  background-color: #ffffff;
  font-family: "montserratregular";
  font-size: 18px;
  color: #f6921e;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin: 30px 0;
  border: solid 1px #f6921e;
  display: none; }
  .download-app a {
    color: #f6921e;
    padding: 12px 15px;
    display: inline-block;
    border-radius: 5px; }
    .download-app a:hover {
      background-color: #d7332f;
      color: #ffffff;
      padding: 12px 15px; }

.send {
  background-color: #f6921e;
  padding: 10px 15px;
  font-family: "montserratregular";
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin: 30px 0; }
  .send:hover {
    background-color: #d7332f;
    color: #ffffff;
    padding: 10px 15px; }

.shadow {
  -webkit-box-shadow: -5px -1px 10px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -5px -1px 10px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -5px -1px 10px 3px rgba(0, 0, 0, 0.2); }

.desk {
  display: block; }

.mob {
  display: none; }

.mob-step {
  display: none; }

.mob-step1 {
  display: none; }

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffeac8;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 5px; }

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d7332f;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px; }

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 5px;
  cursor: pointer;
  color: #f6921e;
  border: 0;
  outline: none;
  background: #f6921e;
  border-radius: 100px; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #f6921e; }

.slick-dots li.slick-active button {
  font-size: 14px;
  color: #d7332f;
  border-bottom: solid 2px #d7332f;
  background: none;
  border-radius: 0;
  padding-bottom: 15px;
  font-size: 20px;
  width: 100%; }

.slick-dots li button:before {
  color: #f6921e; }

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #f6921e; }

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #f6921e;
  transition: 0.4s; }

.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s; }

.nodisplay {
  display: none; }

.fancybox-opened .fancybox-title {
  visibility: hidden; }

.fancybox-nav {
  visibility: hidden; }

.nodisplay {
  display: none; }

.fancybox-overlay {
  background: rgba(0, 0, 0, 0.6); }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background: url("../images/fancybox_sprite.png"); }

.fancybox-prev span {
  background-position: 0 -36px; }

.fancybox-next span {
  background-position: 0 -72px; }

.fancybox-inner img {
  width: 100%;
  text-align: center;
  max-width: 1400px; }

.spotlight {
  width: 100%;
  margin: 0px auto;
  text-align: center; }
  .spotlight img {
    width: 100%; }

/*# sourceMappingURL=global.css.map */
